{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<body>
    <!-- Page Content -->
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About TE Quant</h1>
                    <span>Get to Know Us</span>
                    <div class="more-info about-info right-content">
                        <div class="container">
                                <span>We started as an educational center in the city of Port Harcourt, <br>
                                    aiming to provide quality training to those in the garden city of Nigeria. <br>It's been over four
                                    years and we are still in the business<br>
                                    of providing quality education for professionals.<br> We began with just one course, but we
                                    currently have <br>
                                    multiple courses on our Platforms, with technically sound individuals signed on our platforms as
                                    tutors. </span>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="more-info about-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="more-info-content">
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <div class="right-content">
                                    <h4><em>Our Mission</em></h4>
                                    <p>We are on a mission to make Tech education more effective by ensuring a direct connection between tutor and students.
                                        We have a vision to educate the continent of Africa into innovation.<br> We want to see that everyone gets a good grasp<br>
                                        of what they are taught and it becomes <br>inevitable that they apply this knowledge to bring solutions to challenges<br> facing the people of the continent
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="left-image">
                                    <img src="{{url_for('static', filename = '/images/service_02.jpg')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Our <em>Team</em></h2>
                        <span>Some of our Team members</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img src="{{url_for('static', filename = '/img/nikson-kejeh.jpeg')}}" alt="Nikson Kejeh">
                        <div class="down-content">
                            <h4>Nikson Kejeh</h4>
                            <span>Chief Operating Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img src="{{url_for('static', filename = '/img/faith.jpeg')}}" alt="Faith Dan-Elebiga">
                        <div class="down-content">
                            <h4>Faith Dan-Elebiga</h4>
                            <span>Community Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img src="{{url_for('static', filename = '/img/mike.jpeg')}}" alt="">
                        <div class="down-content">
                            <h4>Osamuyi Osaghae</h4>
                            <span>Digital Marketer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-item">
                        <img src="{{url_for('static', filename = '/img/faith.jpeg')}}" alt="">
                        <div class="down-content">
                            <h4>Oghenetega Stanley</h4>
                            <span>Graphics Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="testimonials">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>What they say <em>about us</em></h2>
                <span>testimonials from our past students</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-testimonials owl-carousel">
                
                <div class="testimonial-item">
                  <div class="inner-content">
                    <h4>Chioma J Okorie</h4>
                    <p>"Transitioning from Law to Tech wasn't <br>an easy task. I expected it to be difficult, <br>but my tutors here at TE Quant made <br>the basics easy to understand."</p>
                  </div>
                  <img src="http://placehold.it/60x60" alt="Chioma J Okorie">
                </div>
                
                <div class="testimonial-item">
                  <div class="inner-content">
                    <h4>Lawrence Ameh</h4>
                    <p>"As a computer scientist, I decided to advance my career by pursuing a degree in Data Science<br> and TE Quant provided the quality education which has helped me enroll for a master's program <br> here in the UK."</p>
                  </div>
                  <img src="http://placehold.it/60x60" alt="Lawrence Ameh">
                </div>
                
                <div class="testimonial-item">
                  <div class="inner-content">
                    <h4>Daniel Michael-Akhere</h4>
                    <p>"I started a program with TE Quant to study <br> data analysis, and for someone who is moving from 
                      operational management to <br> core data analytics,the experience has been beautiful<br> as learning 
                      is made easy with their teaching methodology and instructors. <br> I strongly recommend anyone serious about taking a career path in technology."</p>
                  </div>
                  <img src="http://placehold.it/60x60" alt="Daniel Michael-Akhere">
                </div>
                
                <div class="testimonial-item">
                  <div class="inner-content">
                    <h4>Joshua Kema</h4>
                    <span>Marketing Head</span>
                    <p>"My learning experience at TE Quant was one-of-a-kind. I learned things i found<br> difficult to learn on platforms like Youtube.<br> I also got to learn Python Programming <br>and I was also able to create a calculator all by myself."</p>
                  </div>
                  <img src="http://placehold.it/60x60" alt="">
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>


</body>
{% endblock %}