{% extends "base_dashboard.html" %}
{% block title %} Add Assignment {% endblock %}
{% block content %}
<div class="container">
    
<h2>Add a New Post</h2>
<div class="alert">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" style="position: relative; padding: 10px; border-radius: 5px; margin-bottom: 20px; background-color: #f8d7da; color: #721c24;">
        <span class="closebtn" style="position: absolute; top: 0; right: 10px; cursor: pointer; color: #721c24;" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<form action="{{ url_for('add_assignment')}}" method="post">
    <div class="form-group">
        <label for="course">Select Course:</label>
        <select name="course" class="form-control" required>
            {% for i in courses %}
                <option value="{{ i['course_code'] }}">{{ i['course_title'] }}</option>
            {% else %}
                <option value="">No courses available</option>  <!-- Fallback if no courses -->
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <div class="input-container">
            <i class="fa fa-text"></i>
            <textarea type="text" name="content" placeholder="Body" id="summernote" required></textarea>
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary">Submit Post</button>
</form>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: 'Assignment',
            tabsize: 50,
            height: 100,
            color: 'black'

        })
    });
</script>

</div>
{% endblock %}