{% extends "base_dashboard.html" %}
{% block title %}Add Course{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form action="{{ url_for('add_course')}}" method="post">
    <div class="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <span class="closebtn">&times;</span>
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <h2>Add Course</h2>
    <div class="input-container">
        <i class="fa fa-book icon"></i>
        <input type="text" name="course_title" placeholder="Course Title e.g Cyber Security" id="course_title" class="input-field" required>
    </div>
 
    <div class="input-container">
        <i class="fa fa-tag icon"></i>
        <input type="text" name="course_code" class="input-field" placeholder="Course Code e.g CYB" id="course_code" maxlength="4" required>
    </div>

    <div class="input-container">
        <i class="fa fa-book-open icon"></i>
        <textarea name="course_description" class="input-field" id="summernote" placeholder="Course Description" id="course_description" required></textarea>
    </div>

    <div class="input-container">
        <i class="fa fa-book-open icon"></i>
        <textarea name="course_curriculum" class="input-field" id="summernote" placeholder="Course Curriculum" id="course_description" required></textarea>
    </div>
    
    <button type="submit" class="btn">Add Course</button>
</form>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: 'Blog Content',
            tabsize: 50,
            height: 100,
            color: 'black'

        })
    });
</script>
{% endblock %}
