
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - TE Quant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>


    <!--====== Favicon Icon ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css')}}">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.nice-number.min.css')}}">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/blog_scripts.js')}}"></script>

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    {% endblock %}
</head>

<body>


    <!--====== HEADER PART START ======-->

    <header id="header-part">

        <div class="header-top d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><i style="color:aliceblue;" class="fa fa-phone"></i><span>+234 80 4789 211</span>
                                </li>
                                <li><i style="color:aliceblue;" class="fa fa-envelope-o"></i><a
                                        href="mailto:info@yourmail.com"><span>info@tequant.ng</span></a></li>
                                <li><i style="color:aliceblue;" class="fa fa-home"></i><span>Eliada Close, Off Okporo Road, 
                                    Rumuogba</span></li>
                            
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="header-social text-lg-right text-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->

        <div class="navigation navigation-2" id="navigation">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{{ url_for('index') }}">
                                <img src="{{url_for('static', filename = 'img/te_quant_logo.png')}}" alt="TE Quant Logo" width= 100px height=100px>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">

                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item">
                                        <a href="{{ url_for('index') }}" class="active">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ url_for('about') }}">About us</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ url_for('blog') }}">Blog</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a href="{{ url_for('videos') }}">Videos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Tutorials</a>
                                    </li>

                                    {% if 'loggedin' in session %}
                                    <li class="nav-item">
                                        <a href="{{ url_for('dashboard') }}">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ url_for('logout') }}">Logout</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a href="#" >Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Signup</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>

                        </nav> <!-- nav -->
                    </div>

                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        </div>

    </header>
    <!-- Header Ends -->

    <!-- Body Begins -->

    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Body Ends -->

    <!-- Footer  Starts -->
    <footer id="footer-part">
        <div class="footer-top pt-40 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-about mt-40">
                            <div class="logo">
                                <a href="#"><img src="images/logo-2.png" alt="Logo"></a>
                            </div>
                            <p>Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh
                                id elit. Duis sed odio sit amet nibh vulputate.</p>
                            <ul class="mt-20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-link mt-40">
                            <div class="footer-title pb-25">
                                <h6>Sitemap</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="{{ url_for('about') }}"><i class="fa fa-angle-right"></i>About us</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>News</a></li>
                            
                                <li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-link support mt-40">
                            <div class="footer-title pb-25">
                                <h6>Support</h6>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
                            </ul>
                        </div> <!-- support -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-address mt-40">
                            <div class="footer-title pb-25">
                                <h6>Contact Us</h6>
                            </div>
                            <ul>
                                <li>
                                    <div class="cont">
                                        <p><i class="fa fa-home"></i>
                                            Eliada Close, Off Okporo Road, Rumuogba</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="cont">

                                        <p><i class="fa fa-phone"></i> +234 8114 7783211</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="cont">

                                        <p><i class="fa fa-envelope-o"></i><a href="mailto:info@tequant.ng">
                                                info@tequant.ng</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- footer address -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer top -->

        <div class="footer-copyright pt-10 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright text-md-left text-center pt-15">
                            <p><a target="_blank" href="#">TE Quant Resoutces Ltd.</a> </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright text-md-right text-center pt-15">

                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.6.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!--====== Slick js ======-->
    <script src="{{ url_for('static', filename='js/slick.min.js')}}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>

    <!--====== Counter Up js ======-->
    <script src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js')}}"></script>

    <!--====== Nice Select js ======-->
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>

    <!--====== Nice Number js ======-->
    <script src="{{ url_for('static', filename='js/jquery.nice-number.min.js')}}"></script>

    <!--====== Count Down js ======-->
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js')}}"></script>

    <!--====== Validator js ======-->
    <script src="{{ url_for('static', filename='js/validator.min.js')}}"></script>

    <!--====== Ajax Contact js ======-->
    <script src="{{ url_for('static', filename='js/ajax-contact.js')}}"></script>

    <!--====== Main js ======-->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="{{ url_for('static', filename='js/map-script.js')}}"></script>
    

</body>

</html>