<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-20FNDWNBL4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-20FNDWNBL4');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TE Quant Resources Ltd.">
    <meta name="author" content="TE Quant Resources">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock %}-TE Quant Resources</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog_styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/owl.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.ico')}}" type="image/x-icon">
    
    {% endblock %}
</head>



<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>+2348114787211</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="right-icons">
          <li><a href="https://www.facebook.com/Tequant.ng?mibextid=rS40aB7S9Ucbxw6v"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://x.com/tequantng"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/tequant/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/@tequantresources"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">
          <!-- <img src="{{url_for('static', filename = 'img/te_quant_logo.png')}}" alt="TE Quant Logo"> </i> -->
          <h2>TE Quant Resources</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>  
          <li class="nav-item">
              <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="courseDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Courses
    </button>
    <div class="dropdown-menu" aria-labelledby="courseDropdown">
        {% for course in courses %}
            <a class="dropdown-item" href="{{ url_for('all_courses') }}">
                Courses
            </a>
        {% endfor %}
    </div>
</div>
          </li>                          
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('blog')}}">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('videos')}}">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div>
    {% block content %}
    <!-- Page content goes here -->
    {% endblock %}
</div>

      
      
<!-- Footer Starts Here -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-item">
          <h4>TE Quant Resources</h4>
          <p>Empowerment Through Education.</p>
          <ul class="social-icons">
            <li><a href="http://x.com/tequantng"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/tequant"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/@tequantresources"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.facebook.com/Tequant.ng?mibextid=rS40aB7S9Ucbxw6v"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>Useful Links</h4>
          <ul class="menu-list">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('blog')}}">Blogs</a></li>
            <li><a href="{{url_for('videos')}}">Videos</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="{{url_for('sitemap')}}">SiteMap</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item">
          <h4>Additional Pages</h4>
          <ul class="menu-list">
            <li><a href="{{url_for('about')}}">About Us</a></li>
            <li><a href="{{url_for('contact')}}">Quick Support</a></li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-item last-item">
          <h4>Contact Us</h4>
          <div class="contact-form">
            <form id="contact footer-contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; 2024 TE Quant Resources Ltd.
          </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Additional Scripts -->
  <script src="{{url_for('static', filename = 'js/custom.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/owl.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/slick.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/accordions.js')}}"></script>

  <script> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

</body>
</html>
