{% extends "base.html" %}
{% block title %}
{{blog['Title']|safe }}
{% endblock %}
{% block head %}
{{ super() }}
<meta name="description" content="{{ blog['body'] }}">
    <!-- Include Open Graph meta tags for better sharing -->
    <meta property="og:title" content="{{ blog['title'] }}" />
    <meta property="og:description" content="{{ blog['body'] }}" />
    <meta property="og:url" content="{{ url_for('blog_post', blog_link=blog['blog_link'], _external=True) }}" />
    <meta property="og:image" content="{{ blog['image_url'] }}" />

{% endblock %}


{% block content %}

<section class="course-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">

            <div class="col-md-12">
                
                <div class="blog">
                    <div class="blog-image">
                         
                        <img src="{{ blog['image_url'] }}" alt="{{ blog['Title'] }}"style="height:50px width:100px"> 
                    </div>
                
                <!-- Blog Post -->
                    <div class="blog-info clearfix">
                        <div class="post-left">
                            <ul>
                                <li>
                                    <div class="post-author">
                                        <a href="#"><img src="http://placehold.it/60x60" alt="Author">
                                            <span>{{blog['author']}}</span></a>
                                    </div>
                                </li>
                                <li><i class="fa fa-calender">{{blog['publish_date']}}</i></li>
                                <li><i class="fa fa-tag">{{blog['category']}}</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-sharing">
                    <h4>Share <i class="fa fa-share"></i></h4>
                    <!-- Facebook Share Button -->
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url_for('blog_post', blog_link = blog['blog_link'])}}" target="_blank">
                    <i class="fa fa-facebook"></i>    
                        <i class="fa fa-facebook"></i>    
                    </a>
                    
                    <!-- Twitter Share Button -->
                   <a href="https://twitter.com/intent/tweet?text=Check+out+this+blog!&url={{url_for('blog_post', blog_link = blog['blog_link'])}}&text={{blog['Title'] |safe }}" target="_blank"> <i class="fa fa-twitter"></i>     
                    </a>
                    
    <!-- LinkedIn Share Button -->
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url_for('blog_post', blog_link=blog['blog_link'], _external=True) }}" target="_blank"
                        <i class = "fa fa-linkedin"></i></a>
                </div>
                    <h3 class="blog-title"><a href=#">{{blog['Title'].replace('-', ' ').title() |safe}}</a></h3>
                    <div class="blog-content">
                        {{blog['Body']| safe}}
                     
                    </div>
                </div>
                <!-- /Blog Post -->

            </div>

            <!-- Blog Sidebar -->
            <!-- Blog Sidebar -->
            <div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar" style="margin-top: 20mm;">

                <!-- Latest Posts -->
                <div class="card post-widget blog-widget">
                    <div class="card-header">
                        <h4 class="card-title">Recent Posts</h4>
                    </div>
                    <div class="card-body">
                        <ul class="latest-posts">
                            <li>
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/blog/blog-01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4>
                                        <a href="#">Learn Web Applications Development from Experts</a>
                                    </h4>
                                    <p><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt="">Jun 14, 2022</p>
                                </div>

                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="assets/img/blog/blog-03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h4>
                                        <a href="#">Complete PHP Programming Career Guideline</a>
                                    </h4>
                                    <p><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt=""> 3 Dec 2019</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}


<!-- 
<form>
    <h1>Leave a Comment on this post</h1>
    
</form> -->
