{% extends "base.html" %}

{% block title %}
{{ course['course_title'] | safe }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="course-header">
        <h1>{{ course['course_title'] }}</h1>
        <h3>Course Code: {{ course['course_code'] }}</h3>
    </div>
    <div class="blog-content">
        <h2>Description</h2>
        {{ course['course_description'] | safe}}
    </div>
    <div class="blog-content">
        <h2>Course Curriculum</h2>
        {{ course['course_curriculum'] }}
    </div>
{% endblock %}
