{% extends "student_base.html" %}
{% block title %} Course Posts {% endblock %}
{% block content %}

<div class="container" style="margin-bottom: 80px;">
    <h5 class="center-align">Assignments</h5>

    <!-- Flash Messages -->
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="card-panel {{ category }} lighten-4">
                <span class="{{ category }}-text">{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Assignment Posts -->
    <div class="section">
        {% if posts %}
            <ul class="collection">
                {% for post in posts %}
                <li class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <h6><strong>Tutor Name:</strong> {{ post['FIRST_NAME'] }} {{ post['LAST_NAME'] }}</h6>
                        </div>

                        <div class="col s12">
                            <p class="flow-text">{{ post['content'] | safe }}</p>
                            <small class="grey-text">Posted on: {{ post['date_posted'] }}</small>
                        </div>

                        <!-- Submit Assignment Link -->
                        <div class="col s12 right-align">
                            <a href="{{ url_for('submit_assignment') }}" class="btn green darken-3">
                                Submit Assignment
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h5 class="center-align">No posts available.</h5>
        {% endif %}
    </div>
</div>

{% endblock %}
