{% extends "base_dashboard.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}


{% block name %}
{% for i in name %}
{{i['FIRST_NAME']}}
{{i['LAST_NAME']}}
{% endfor %}
{% endblock %}
{% block content %}
<!-- Content Row -->
<div class="row">

    
    {% if session['role'] in ['superadmin', 'content_manager'] %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% for i in blogs %}
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Blogs
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{i['count(*)']}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    {% if session['role'] in ['superadmin', 'tutor'] %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% for i in students %}
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Students</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{i['count(*)']}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% if session['role'] == 'superadmin' %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% for i in admins %}
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Administrators</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{i['count(*)']}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    {% if session['role'] in ['superadmin', 'content_manager'] %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        {% for i in videos %}
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Videos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{i['count(*)']}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}