{% extends "base_dashboard.html" %}
{% block title %}Delete Blog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<body>
    <form action="{{ url_for('delete_blog', blog_link = blog_link) }}" method="POST" style="max-width:400px;margin:auto">
        <div class="alert">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <span class="closebtn">&times;</span>
            <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <h2 class="title">Delete Blog</h2>
        
        <h3>Are you sure you want to delete blog: {{blog_link}}?</h3>
        
        <label for="yes">YES</label>
        <input type="radio" name="confirm" value="YES" id="yes"  >
        <label for="no">NO</label>
        <input type="radio" name="confirm" value="NO" id="no"  >
    
        <button type="submit">Submit</button>

    </form>
</body>
{% endblock %}