{% extends "base.html" %}
{% block title %} HomePage {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h2 style="color: #fff;">Welcome to <b>TE Quant Resources</b></h2>
                
                <h4>Empowering Africa with <br>&amp;Tech Innovation</h4>
                <p>Our mission is to educate and spur<br> innovation in Cybersecurity, Data Science and Data analysis.</p>
                <a href="{{url_for('about')}}" class="filled-button">Read More</a>
               </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
          <div class="img-fill">
              <div class="text-content">
                <h6>Simplicity at its peak</h6>
                <h4>Best<br>&amp; Teaching Methods</h4>
                <p>At TE Quant, we break complex concepts and <br> them in everyday language, with accompanying <br> visual aids to facilitate learning and comprehension</p>
                <a href="{{url_for('about')}}" class="filled-button">Read More</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
          <div class="img-fill">
              <div class="text-content">
                <h6>Experienced and Qualitied Faculty</h6>
                <h4>Learn from Tutors in the Field<br>&amp; </h4>
                <p>Our tutors impart knowledge from a place of <br> experience, because they have "been there" and are "doing that",<br> they can help you build a career in "Tech".</p>
                <a href="{{url_for('about')}}" class="filled-button">Read More</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
      </div>
  </div>
  <!-- Banner Ends Here -->


  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Learning is  <em>one-on-one</em></h2>
            <span>Get to interact with your instructors, and find answers with clarity. <br>We treat you as our only student.</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_01.jpg" alt="">
            <div class="down-content">
              <h4>Learning is Simple and Fun</h4>
              <p>We know learning tech courses can be a bit difficult and all technical,<br> but here we make it simpler and fun to learn.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_02.jpg" alt="">
            <div class="down-content">
              <h4>Learn with a Community</h4>
              <p>Learn with a community of experts, instructors and fellow students.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="assets/images/service_03.jpg" alt="">
            <div class="down-content">
              <h4>Learn form the Best</h4>
              <p>You are special to us, so we meticulously selected the best instructors<br> in your field to give you the best experience.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            
            <a href="#"><h2> <em>Our Courses</em></h2></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/data-analyst.jpg')}}" alt="Data Analysis">
            <div class="down-content">
              <h4>Data Analysis</h4>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/office-7.jpg')}}" alt="Cyber Security">
            <div class="down-content">
              <h4>Cyber Security</h4>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/data-science.png')}}" alt="Data Science">
            <div class="down-content">
              <h4>Data Science</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/service_03.jpg')}}" alt="Digital Marketing">
            <div class="down-content">
              <h4>Digital Marketing</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/python.jpg')}}" alt="Python Programming">
            <div class="down-content">
              <h4>Python Programming</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{url_for('static', filename = 'images/service_01.jpg')}}" alt="Graphics Designing">
            <div class="down-content">
              <h4>Graphics Designing</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/more-info.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Who we are</span>
                  <h2>Get to know about <em>TE Quant Resources</em></h2>
                  <p>We are on a mission to make tech education more<br> 
                    efefctive by ensuring a direct connection between tutor and student.</p>
                  <a href="{{url_for('about')}}" class="filled-button">About Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>What they say <em>about us</em></h2>
            <span>testimonials from our past students</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-testimonials owl-carousel">
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Chioma J Okorie</h4>
                <p>"Transitioning from Law to Tech wasn't <br>an easy task. I expected it to be difficult, <br>but my tutors here at TE Quant made <br>the basics easy to understand."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Lawrence Ameh</h4>
                <p>"As a computer scientist, I decided to advance my career by pursuing a degree in Data Science<br> and TE Quant provided the quality education which has helped me enroll for a master's program <br> here in the UK."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Daniel Michael-Akhere</h4>
                <p>"I started a program with TE Quant to study <br> data analysis, and for someone who is moving from 
                  operational management to <br> core data analytics,the experience has been beautiful<br> as learning 
                  is made easy with their teaching methodology and instructors. <br> I strongly recommend anyone serious about taking a career path in technology."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Andrew Boom</h4>
                <span>Marketing Head</span>
                <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="callback-form">
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span>Have some Enquires?</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


 

{% endblock %}