{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<body>
    <div class="page-heading header-text">
    <div class="container">
    <form action="{{ url_for('admin_login')}}" method="POST" style="max-width:300px;margin:auto">
        <div class="alert">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <span class="closebtn">&times;</span>
            <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <h2 style="text-transform: uppercase; color: azure;">Login</h2>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="text" placeholder="Email" name="email" required>
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
</div>
</body>

{% endblock %}