{% extends "base.html" %}
{% block title %} Student Registration
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form action="{{ url_for('student_register') }}" method="POST" style="max-width:350px;margin:auto">
    <div class="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <span class="closebtn">&times;</span>
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h2 class="title">Student Registration Form</h2>
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Enter Full Name" name="fullName" required>
    </div>

    <div class="input-container">
        <i class="fa fa-mail icon"></i>
        <input class="input-field" type="email" placeholder="Enter Email" name="email" required>
    </div>

    <div class="input-container">
        <i class="fa fa-country icon"></i>
        <select name="countryCode" required>
            <option value="">Select Country Code</option>
            <option value="+234">Nigeria (+234)</option>
            <option value="+233">Ghana (+233)</option>
        </select>
    </div>

    <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" type="text" placeholder="Enter Phone Number" name="phone" id="phone" required>
    </div>

    <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <select class="form-control" id="course" name="course" required>
            {% for i in courses %}
            <option value="{{ i['course_code'] }}">{{ i['course_title'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-container">
        <i class="fa fa-house icon"></i>
        <select class="form-control" id="state" name="state" required>
            <option value="Rivers">Rivers</option>
            <option value="Delta">Delta</option>
            <option value="Anambra">Anambra</option>
            <option value="Enugu">Enugu</option>
            <option value="Imo">Imo</option>
        </select>
    </div>

    
    <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}
