{% extends "base_dashboard.html" %}
{% block title %} Tutors{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="alert">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" style="position: relative; padding: 10px; border-radius: 5px; margin-bottom: 20px; background-color: #f8d7da; color: #721c24;">
        <span class="closebtn" style="position: absolute; top: 0; right: 10px; cursor: pointer; color: #721c24;" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Tutors</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center;">
                        <th>Tutor</th>
                        <th>Email</th>
                        <th>Assigned Course</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor in tutors_with_courses %}
                    <tr>
                        <td>{{ tutor['first_name'] }} {{ tutor['last_name'] }}</td>  
                        <td>{{ tutor['email'] }}</td>  
                        <td>{{ tutor['course_title'] }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
